<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/handerOrder.css">
    <title>Document</title>
</head>
<body>
	<header>
		<div id="header">
			<p class="logo-header"><img src="/image/logo.png" alt=""></p>

			<ul class="nav-items">
        <li><a href="http://localhost:3000/infoAdmin">Quản Lý</a></li>
        <li><a href="http://localhost:3000/listOrder">Danh Sách Đặt Bàn</a></li>
        <li style="background-color: brown;"><a href="http://localhost:3000/handerOrder">Xử Lý Đơn Đặt Bàn</a></li>
        <li><a href="http://localhost:3000/handleMenu">Chỉnh Sửa Món Ăn</a></li>
        <li><a href="http://localhost:3000/home">Trang Chủ</a></li>
			</ul>
		</div>
	</header>
 
    <main class="page-main" style="margin-top: 30px;text-align: center;">
        <div class="main-processing">
            <h2 class="text1">XỬ LÝ ĐƠN ĐẶT BÀN</h2>
            <div class="table" style="margin-top: 20px;">
                <table class="w3-table-all w3-hoverable">
                    <thead>
                      <tr class="w3-light-grey">
                        <th>IDOrder</th>
                        <th>Họ Tên</th>
                        <th>Email</th>
                        <th>Số Điện Thoại</th>
                        <th>Ngày Đặt</th>
                        <th>Giờ</th>
                        <th>Số Lượng</th>
                        <th>Vị Trí</th>
                        <!-- <th>Nội Dung</th> -->
                        <th>Trạng Thái</th>
                        <th>Chức Năng</th>
                      </tr>
                    </thead>
                       <tbody>
                      <% for(let i=0; i < dataHander.length; i++) { %>
                          <tr>
                            <td><%= dataHander[i].ID %></td>
                            <td><%= dataHander[i].HoTen %></td>
                            <td><%= dataHander[i].Email %></td>
                            <td><%= dataHander[i].SoDienThoai %></td>
                            <td><%= dataHander[i].Ngay %></td>
                            <td><%= dataHander[i].Gio %></td>
                            <td><%= dataHander[i].SoLuong %></td>
                            <td><%= dataHander[i].ChonViTri %></td>
                            <!-- <td style="width:500px"><%= dataHander[i].NoiDung %></td> -->
                            <td><%= dataHander[i].TrangThai %></td>
                            <td>
                              <div class="button">
                                  <!-- Xem Chi Tiết -->
                                  <form action="/listOrderDetail/<%= dataHander[i].ID %>" method="get" style="margin-bottom: 5px;">
                                    <button style="padding:0 9px" type="submit">Xem Chi Tiết</button>
                                  </form>
                                  <!-- Nút Cập Nhật -->
                                  <form action="/AdminUpdateOrder" method="post" style="margin-bottom: 5px;">
                                    <input type="text" hidden value="<%= dataHander[i].ID %> " name="AdminUpdate"/>
                                    <button style="padding: 0 19px;" type="submit">Cập Nhật</button>
                                </form>
                                  <!-- Nút Xóa -->
                                <form action="/AdmindeleteHanderOrder" method="post">
                                  <input type="text" hidden value="<%= dataHander[i].ID %> " name="orderID"/>
                                  <button style="padding: 0 35px;" type="submit">Xóa</button>
                                </form>
                                </div>
                            </td>
                          </tr>
                       <% } %>
                   </tbody>
                  </table>
            </div>
        </div>

    </main>
 
    <footer>
 
    </footer>
</body>
</html>