<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/handleMenu.css">
    <title>Menu</title>
</head>
<body>
    <div id="header">
        <p class="logo-header"><img src="/image/logo.png" alt=""></p>
        <ul class="nav-items">
            <li><a href="http://localhost:3000/infoAdmin">Quản Lý</a></li>
            <li><a href="http://localhost:3000/listOrder">Danh Sách Đặt Bàn</a></li>
            <li><a href="http://localhost:3000/handerOrder">Xử Lý Đơn Đặt Bàn</a></li>
            <li style="background-color: brown;"><a href="http://localhost:3000/handleMenu">Chỉnh Sửa Món Ăn</a></li>
            <li><a href="http://localhost:3000/home">Trang Chủ</a></li>
        </ul>
    </div>
    <!---->
    <div class="addFood">
        <h2 style="text-align:center; margin-bottom: 10px;">Thêm Món Ăn</h2>

        <form action="/adminAddMenu" method="post">
            <div class="content-addFood">
                <div><p style="float:left">Tên Món Ăn</p> <input name="Name" style="margin-left:50px;width:700px;height:18px" type="text" placeholder="Nhập Tên Món Ăn"></div>
                <div><p style="float:left">Giá Món Ăn</p> <input name="Cost" style="margin-left:52px;width:700px;height:18px" type="text" placeholder="Nhập Giá Món Ăn"></div>
                <div><p style="float:left">Hình Ảnh</p> <input name="PNG" style="margin-left:69px;width:700px;height:18px" type="text" placeholder="Nhập Link Hình Ảnh Món Ăn"></div>
                <div><p style="float:left">Chi Tiết Món Ăn</p> <input name="Detail" style="margin-left:23px;width:700px;height:18px" type="text" placeholder="Nhập Mô Tả Món Ăn"></div>
            </div>

            <div style="text-align:center;"><button style="padding: 5px;border-radius: 30px;" type="submit">Thêm Món Ăn</button></div>
        </form>

    </div>
     <!--Tiêu Đề-->
  <div style="text-align: center; margin: 20px 0;"><h1>Danh Sách Món Ăn Nhà Hàng</h1></div>
    <!--  -->

  <div id="body-menu">
    <!-- <ul class="Column-Menu-1">
        <% for(let i=0; i < dataMenu.length; i++) { %>
        <li><img src="<%= dataMenu[i].PNG %>" alt=""><p><%= dataMenu[i].Name %>..........<%= dataMenu[i].Cost %></span></p></li>
        <% } %>
    </ul> -->
    <table style="margin: 0px 20px;">
        <thead>
            <tr>
            <th>Tên Món Ăn</th>
            <th>Hình Ảnh</th>
            <th>Mô Tả Chi Tiết</th>
            <th>Giá</th>
            <th>Chức Năng</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i < dataMenu.length; i++) { %>   
            <tr>
                <td width=300px><%= dataMenu[i].Name %></td>
                <td height=150px width=200px><img height=150px width=200px src="<%=dataMenu[i].PNG %>" alt=""></td>
                <td width=550px><%= dataMenu[i].Detail %></td>
                <td width=200px><%= dataMenu[i].Cost %></td>
                <td>
                    <div>
                        <!-- Nút Cập Nhật -->
                        <form action="/adminEditMenu/<%= dataMenu[i].ID %>" method="get">
                            <button type="submit">Cập Nhật</button>
                          </form>
                        <!-- Nút Xóa -->
                        <form style="margin-top: 20px;" action="/adminDeleteMenu" method="post">
                            <input type="text" hidden value="<%= dataMenu[i].ID %> " name="menuFoodID"/>
                            <button style="padding: 0px 16px;" type="submit">Xóa</button>
                          </form>
                    </div>
                </td>
            </tr>
            <% } %>
        </tbody>
      </table>
  </div>

  <hr class="Underline" style="margin-top: 20px;margin-bottom:20px;">
</body>
</html>